<a href="https://colab.research.google.com/github/JosenildoJunior/StatPyDataScience/blob/main/Python_b%C3%A1sico.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Estatística com Python: Um Guia para Estudos e Solução de Problemas

## Neste módulo, vamos aprender sobre os conceitos básicos de Python, incluindo:

* **Variáveis:** Como declarar e usar variáveis para armazenar dados.
* **Tipos de dados:** Os diferentes tipos de dados que podem ser armazenados em variáveis.
* **Operadores:** Como realizar operações matemáticas e lógicas.
* **Estruturas de controle:** Como controlar o fluxo de execução de seu código.

## **Variáveis**

Uma variável é um local na memória do computador destinado ao armazenamento de valores. Para ilustrar esse conceito, considere o exemplo de armazenar a idade de uma pessoa, como 27 anos, em uma variável. No contexto do Python, como poderíamos realizar essa operação?

In [ ]:
# Criando a variável
idade = 27

Podemos observar que para criar uma variável, basta escolher um nome e, em seguida, utilizar o símbolo de igual (=), que funciona como uma atribuição. Portanto, ao usar essa abordagem, criamos uma variável chamada 'idade' e a associamos ao valor 27.

Agora que a variável foi declarada, podemos acessar seu valor a qualquer momento necessário. Utilizaremos a função 'print' para exibir o valor contido na variável.

In [ ]:
# Exibindo o valor
print(idade)

27


Dessa forma, podemos imprimir o valor da variável sempre que necessário. É importante lembrar que após ser declarada, uma variável pode ser acessada e modificada usando seu nome. Vamos alterar o valor da idade para 20.

In [ ]:
# Alterando o valor da variável
idade = 20

Para realizar essa alteração, bastou utilizarmos a mesma variável, porém, ao atribuirmos um valor diferente, ela automaticamente sobrescreveu o antigo valor que continha. Dessa forma, a variável 'idade' passou a ter o valor de 20, diferentemente da primeira vez em que a criamos, quando seu valor era 27.

In [ ]:
# Exibindo o valor
print(idade)

20

Podemos confirmar, então, que o valor da variável foi alterado. As variáveis são uma ferramenta fundamental na programação em Python, permitindo-nos armazenar dados e manipulá-los de forma eficiente.

## **Tipos de dados**

Os tipos de dados determinam o tipo de valor que pode ser armazenado em uma variável. Os tipos de dados mais comuns são:

- Inteiro: armazena números inteiros, como 1, 2, 3, etc.
- Ponto flutuante: armazena números de ponto flutuante, como 1.0, 2.5, 3.14159, etc.
- Booleano: armazena valores lógicos, como True (verdadeiro) ou False (falso).
- String: armazena texto, como "Olá, mundo!".
- Date: armazenar informações de data, como (2024, 1, 10)

### **Int (Inteiros)**

Como já vimos anteriormente, variáveis do tipo int representam números inteiros, como a idade de alguém, por exemplo. Ao declararmos uma variável e atribuirmos a ela um valor numérico inteiro, ela será automaticamente do tipo int. Vamos observar com um exemplo:

In [ ]:
# Criando uma variável do tipo int
gols = 2

Criamos uma variável chamada 'gols' e atribuímos a ela um valor inteiro. Para garantir que essa variável seja do tipo int, podemos utilizar a função chamada 'type'. Esta função retornará o tipo da variável, seja qual for.

In [ ]:
# Observando o tipo da variável
type(gols)

int

Ao observar o resultado da função 'type' e encontrar 'int', confirmamos que a variável é do tipo inteiro. Isso é uma maneira útil de verificar o tipo de variável que estamos manipulando em Python.

### **Float (Ponto flutuante)**

No tipo float, os dados armazenados representam números reais com casas decimais, como 1.0, 2.5 e 3.14159. Vamos explorar mais a fundo para uma compreensão mais ampla.

In [ ]:
# Criando a variável do tipo float
altura = 1.74

Para exemplificar, criamos uma variável que recebe a altura de um indivíduo em metros. Por se tratar de um valor real, podemos concluir que é do tipo float, mas vamos confirmar.

In [ ]:
# Observando o tipo da variável
type(altura)

float

E é exatamente isso que confirmamos ao executarmos a função `type`. Percebemos que a saída foi float, confirmando que esse dado se trata de um valor do tipo float.

### **Bool (Booleano)**


Os dados booleanos, ou bool, são dados que só podem receber dois valores: verdadeiro (True) ou falso (False). Eles são usados para representar valores lógicos, como a verdade ou falsidade de uma afirmação.

In [ ]:
# Criando a variável do tipo bool
falso = False

# Criando a variável do tipo bool
verdadeiro = True

# Criando a variável do tipo bool
casa = False

É importante frisar que o tipo da variável é independente do nome. O que realmente importa para determinar o tipo da variável é o conteúdo. Neste exemplo, foram criadas três variáveis, todas recebendo valores booleanos, que podem ser verdadeiro ou falso. Apesar de terem nomes diferentes, os conteúdos são do mesmo tipo. Portanto, ao utilizarmos a função 'type', o resultado será o mesmo. Vamos conferir.

In [ ]:
# Observando o tipo da variável
type(falso), type(verdadeiro), type(casa)

(bool, bool, bool)

Podemos observar, então, que em todos os casos o tipo de dado é o mesmo; ambas são do tipo booleano.

### **String (Texto)**

Strings são dados do tipo texto; normalmente, esse tipo de dado está entre aspas. Logo, se declararmos uma variável com um nome qualquer e seu conteúdo estiver entre aspas (sejam elas simples ou duplas), isso implica que o conteúdo daquela variável será do tipo string. Vamos ver no exemplo a seguir.

In [ ]:
# Criando a variável do tipo string
nome = 'Pepper'

Então, a nossa variável está criada, mas como posso ter certeza de que essa variável se trata realmente de uma variável do tipo texto? Para sanarmos essa dúvida, vamos utilizar novamente a função 'type'.

In [ ]:
# Observando o tipo da variável
type(nome)

str

Dessa forma, podemos ter certeza do tipo de dados armazenado em qualquer variável que utilizemos essa função. Neste caso, o resultado foi 'str' ou string, logo podemos concluir que o tipo da variável é do tipo texto.

### **Datetime (Data)**

No Python, a variável do tipo date é usada para representar datas. Esta variável faz parte do módulo datetime na biblioteca padrão do Python. Ela é usada para armazenar informações de data sem incluir informações sobre o horário específico.

Para exemplificar esse tipo de dados, será necessário a importação de uma biblioteca. Vamos observar essa parte.

In [ ]:
# Realizando a importação
from datetime import date

Agora que realizamos a importação do pacote, podemos seguir para a exemplificação.

In [ ]:
# Obter o dia de hoje
data_atual = date.today()

Atribuímos à variável data_atual o valor da função 'today()', que retorna a data atual. Vamos observar o dado armazenado e, em seguida, o tipo do dado.

In [ ]:
# Exibindo a data de hoje
print(data_atual)

2024-01-15

Dessa forma, podemos observar o valor armazenado, que é o exato dia em que estou executando este código. Agora, vamos confirmar qual o tipo de dado presente nessa variável.

In [ ]:
# Observando o tipo do dado
type(data_atual)

datetime.date

O resultado foi datetime.date, logo podemos concluir que esse dado se trata realmente de um dado do tipo data.

## **Estruturas**

As estruturas de dados são objetos que armazenam e organizam dados. Elas são usadas para simplificar o código e tornar mais eficiente o processamento de dados.

As principais estruturas de dados em Python são:

- Listas: armazenam uma coleção de valores de qualquer tipo.
- Tuplas: armazenam uma coleção de valores de qualquer tipo, mas são imutáveis.
- Dicionários: armazenam uma coleção de pares chave-valor.
- Conjuntos: armazenam uma coleção de valores únicos.

### **List (Listas)**

Listas são estruturas de dados ordenadas que permitem armazenar uma coleção de valores de qualquer tipo. Os valores de uma lista são chamados de elementos ou itens.

Para declararmos uma lista em Python, seguimos o seguinte padrão: nome_da_variável, seguido por um sinal de igual (=) e os valores entre colchetes ([ ]), como por exemplo:

In [78]:
# Criando uma lista
frutas = ['Abacate', 'Abacate', 'Uva', 12, 3.14, 12]

Podemos notar uma coisa interessante: uma lista pode ser criada e utilizada para armazenar dados de diferentes tipos. Podemos observar que nessa mesma lista chamada frutas, temos variáveis dos tipos string, int e float. Vamos verificar se essa variável realmente se trata de uma lista.

Observando a lista criada.

In [77]:
# Exibindo os valores
print(frutas)

['Abacate', 'Abacate', 'Uva', 12, 3.14, 12]

Agora vamos observar o tipo do dado.

In [59]:
# Exibindo o tipo do dado
type(frutas)

list

Podemos observar então que essa variável realmente se trata de uma lista e que pode armazenar diversos tipos de dados. Para demonstrar o quão poderosa é essa estrutura de dados, vamos observar como realizar funções como, por exemplo:

- Acessar elementos
- Adicionar elementos
- Alterar elementos
- Remover elementos
- Contar elementos
- Verificando a existência de elementos
- Buscar elementos
- Ordenar a lista
- Invertendo a lista

#### *Acessando um elemento*

Para acessar um elemento em uma lista, basta passar a posição que o elemento está na lista entre colchetes. Lembrando que a contagem desses números começa em 0 no Python. Então, digamos que existe a seguinte lista: notas = [6.0, 10, 9.7] Podemos notar que temos 3 elementos. Mas, se quisermos acessar o primeiro, utilizaremos o código da seguinte forma: notas[0], Pois, como a contagem em Python começa de 0, o primeiro elemento da lista está na posição 0, o segundo na posição 1, o terceiro na posição 2 e assim por diante.

Primeiro, vamos exibir a lista completa.

In [60]:
# Exibindo os valores
print(frutas)

['Abacate', 'Abacate', 'Uva', 12, 3.14, 12]

Agora, vamos acessar o terceiro elemento da lista.

In [61]:
# Acessando um elemento na lista
frutas[2]

'Uva'

Ao observar o resultado, podemos ver que realmente exibimos o terceiro elemento na lista. Isso ocorre porque, em Python, o primeiro elemento de uma lista tem índice 0, o segundo elemento tem índice 1 e assim por diante. Portanto, para exibir o terceiro elemento, passamos como parâmetro o índice 2.

#### *Adicionando um elemento*

Para adicionar um elemento a uma lista, basta utilizarmos a função append(). Essa função recebe como parâmetro o item que queremos adicionar à lista. Vamos observar um exemplo:

In [80]:
# Adicionando um elemento a lista
frutas.append("Laranja")

Agora, com o item adicionado, vamos observar a lista completa.

In [81]:
# Exibindo os valores
print(frutas)

['Abacate', 'Abacate', 'Uva', 12, 3.14, 12, 'Laranja']

Podemos então notar que o elemento foi adicionado com sucesso à lista.

#### *Alterando elementos*

Para alterar um elemento de uma lista, basta indicarmos o índice do elemento que queremos alterar e, em seguida, passar o novo valor para esse índice. Vamos observar um exemplo:

In [83]:
# Alterando um elemento
frutas[4] = 'Maracúja'

Assim, realizamos uma alteração de um elemento na lista. Vamos observar como ela está agora.

In [84]:
# Exibindo os valores
print(frutas)

['Abacate', 'Abacate', 'Uva', 12, 'Maracúja', 12, 'Laranja']

Podemos confirmar que o elemento que desejamos foi alterado no índice que queríamos.

#### *Removendo elementos*

Existem diferentes métodos para remover um elemento de uma lista. Dois dos mais comuns são:

- O método remove( ) remove o primeiro elemento da lista que corresponder ao valor especificado.
- O método pop( ) remove o elemento da lista na posição especificada.

Vamos observar primeiro o método remove.

In [85]:
# Removendo um elemento
frutas.remove(12)

Agora que removemos um elemento, vamos observar como está a lista atual.

In [86]:
# Exibindo o resultado
print(frutas)

['Abacate', 'Abacate', 'Uva', 'Maracúja', 12, 'Laranja']

Dessa forma, podemos observar que realmente conseguimos remover o elemento 12 da lista. No entanto, essa função removeu apenas o primeiro valor 12 que encontrou. Dessa forma, o segundo elemento 12 continua na lista. Vamos utilizar agora o método pop( ) para removermos um elemento com base em sua posição na lista.

In [87]:
# Removendo um elemento
frutas.pop(4)

12

Agora que removemos todos os elementos que desejamos, vamos observar como ficou a nossa lista.

In [88]:
# Exibindo os valores
print(frutas)

['Abacate', 'Abacate', 'Uva', 'Maracúja', 'Laranja']

Agora sim, removemos e alteramos todos os valores que desejávamos na nossa lista, ficando apenas com 5 elementos.

#### *Contando os elementos*

Vamos utilizar o método len() para contarmos quantos elementos temos na nossa lista. Utilizaremos esse método da seguinte forma:

In [89]:
# Exibindo o número de elementos
len(frutas)

5

Como vimos anteriormente, nossa lista realmente possui apenas 5 elementos.

Também é possivel contarmos quantas vezes temos o mesmo elemento aparece na lista para isso utilizaremos o método 'count( )'

In [90]:
# Contando quantas vezes o mesmo elemento aparece
frutas.count('Abacate')

2

Quando pesquisamos pelo elemento 'Abacate' é possivel notar que ele retorna o número 2 que é exatamente o número de elementos chamados 'Abacate' que temos na lista, vamos pesquisar agora o elemento 'Uva' para ver o que encontramos

In [91]:
# Contando quantas vezes o mesmo elemento aparece
frutas.count('Uva')

1

Exatamente isso que acontece, na nossa lista existem 2 abacates e apenas uma uva

#### *Verificando se existe um determinado elemento na lista*

Para verificarmos se existe um elemento na lista vamos utilizar o operador 'in' que retorna True se o elemento estiver presente na lista e False caso contrário.

Primeiro vamos exibir a lista para observarmos os elementos existentes na mesma

In [73]:
# Exibindo os valores
print(frutas)

['Abacate', 'Abacate', 'Uva', 3.14, 'Laranja']

Agora vamos verificar se o elemento 'Uva' esta na lista

In [74]:
# Buscando um elemento na lista
"Uva" in frutas

True

O resultado foi um True, logo podemos afirmar que existe um elemento chamado 'Uva' na nossa lista, vamos tentar pesquisar algum elemento que não existe

In [75]:
# Buscando um elemento na lista
"Manga" in frutas

False

Ao verificarmos o elemento chamado 'Manga' recebemos um resultado False, logo podemos afirmar que esse elemento não esta contido na lista

#### *Buscando elementos na lista*

Se quisessemos descobrir a posição que determinado elemento ocupa na lista iremos utilizar o método 'index()'.

Vamos observar a lista completa

In [98]:
# Exibindo os valores
print(frutas)

['Uva', 'Maracúja', 'Laranja', 'Abacate', 'Abacate']

Agora vamos aplicar o método para buscarmos um elemento na lista

In [97]:
# Buscando um elemnto
frutas.index("Abacate")

3

Como temos dois abacates a função retornou a posição do primeiro, vamos observar outro exemplo

In [99]:
# Buscando um elemnto
frutas.index("Maracúja")

1

Como podemos observar o elemento 'Maracúja' ocupa o segundo lugar na nossa lista, logo o seu indice é o numero 1 e se buscassemos um elemento que não existe na lista o que aconteceria ?

In [100]:
# Buscando um elemnto
frutas.index("Manga")

ValueError: 'Manga' is not in list

Podemos observar que ao tentarmos buscar um elemento que não existe na lista com esse método, iremos receber um erro, afirmando que o elemento que estamos buscando não existe na lista.

#### *Ordenando a lista*

Para ordenarmos a lista utilizaremos o método 'sort()' com esse método é possivel ordenar a lista tanto em ordem crescente quanto em ordem decrescente, primeirao vamos observar como ordenar em ordem crescente

Primeiro, vamos observar como esta a atual ordenação da nossa lista

In [92]:
# Exibe os valores
print(frutas)

['Abacate', 'Abacate', 'Uva', 'Maracúja', 'Laranja']

Ordenando a lista em ordem crescente

In [93]:
# Ordena a lista em ordem crescente
frutas.sort()

Agora que ordenamos a lista vamos observar como ela está

In [94]:
# Exibe os valores
print(frutas)

['Abacate', 'Abacate', 'Laranja', 'Maracúja', 'Uva']

Podemos confirmar que agora nossa lista esta em ordem crescente, vamos fazer ao contrario e deixar a lista em ordem decrescente

In [95]:
# Ordena a lista em ordem decrescente
frutas.sort(reverse=True)

Vamos observar como está a nossa lista agora

In [96]:
# Exibe os valores
print(frutas)

['Uva', 'Maracúja', 'Laranja', 'Abacate', 'Abacate']

Podemos observar então como podemos alterar a ordem da nossa lista

#### *Invertendo a ordem dos elementos*

Vamos observar como podemos inverter a ordem dos elementos presentes na lista, para isso utilizaremos o método reverse ()

Novamente vamos observar como esta a lista atualmente

In [101]:
# Exibindo os valores
print(frutas)

['Uva', 'Maracúja', 'Laranja', 'Abacate', 'Abacate']

Agora vamos verificar como podemos inverter a lista na prática

In [102]:
# Inverte a ordem dos elementos na lista
frutas.reverse()

Agora que já aplicamos o método de inversão vamos observar como esta a nossa lista

In [103]:
# Exibindo os valores
print(frutas)

['Abacate', 'Abacate', 'Laranja', 'Maracúja', 'Uva']

Como podemos observar a nossa lista voltou para a ordem inicial